{% extends "layout.html" %}

{% block pageTitle %}
  Checking your records
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Step 4 of 5</span>
      <h1 class="govuk-heading-l">
        Checking your records
      </h1>

      <form class="form" action="/upload-confirmation" method="post">
        <p>Your records need to be checked now. This may take a few minutes. </p>

        <div class="govuk-inset-text">
          Please click 'Continue' and wait for the checks to finish. You will be informed about the result of the checks on the next page.
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}